@{
    ViewBag.Title = "Error";
}
<br/><br/><br/>
<br/>


@if (ViewBag.ErrorMessage != null)
{
    <h3>@ViewBag.ErrorMessage</h3>
}
else
{
    <h3>Er is iets fout gegaan in de applicatie.</h3>
}

<h4>@Html.ActionLink("Probeer opnieuw een melding te maken.", "Index")</h4>

<br/>

@if (ViewBag.TechnicalErrorMessage != null || ViewBag.StatusCode != null)
{
    <h3>Technische fout</h3>

    var original = (string) ViewBag.TechnicalErrorMessage;
    var errorLines = original.Split(new[] {'\r', '\n'}, StringSplitOptions.RemoveEmptyEntries);

    foreach (var line in errorLines)
    {
        @line<br/>
    }
}